<aside class="sidebar" th:fragment="sidebar">

  <div class="sidebar-top">
    <div class="logo-box">
      <div class="logo-circle"></div>
      <div>
        <h2>ViniloTFG Admin</h2>
        <p>Gestión interna</p>
      </div>
    </div>
  </div>

 <nav class="sidebar-nav">
  <a href="/" class="nav-item">Dashboard</a>
  <a href="/pedidos" class="nav-item">Pedidos</a>
  <a href="/clientes" class="nav-item">Clientes</a>
  <a href="/productos" class="nav-item">Productos</a>
  <a href="/estadisticas" class="nav-item">Estadísticas</a>
  <a href="/configuracion" class="nav-item">Configuración</a>
</nav>

  <div class="sidebar-bottom">
    <div class="user-card">
      <div class="user-avatar">V</div>
      <div>
        <h4>Víctor</h4>
        <p>Administrador</p>
      </div>
    </div>
  </div>

</aside>